@import "./Styles/Mixin_New.scss";

.media-qury {
    display: none !important;
    @include respond-to(xs) {
        display: flex !important;
        background: white;
        color: #f704ff;
    }
}